.farmacia-turno-container {
  padding: 20px;
  position: relative;
}

.search-section {
  position: relative;
}

.search-container {
  position: relative;
}

.input-group {
  position: relative;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  z-index: 1000;
  border: 1px solid #ddd;
  border-radius: 0 0 12px 12px;
}

.keyboard-active .dropdown-list {
  top: auto;
  bottom: 100%; /* Mover la lista hacia arriba cuando el teclado esté activo */
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: #007bff;
  color: white;
}